#main-layout {
  height: 100vh;
  max-height: 100vh;

  background-color: rgb(243, 240, 237);
}

#header-wrapper {
  height: 10%;
  div {
    height: 100%;
  }
}

#body-wrapper {
  height: 80%;
  padding: 20px 0;
  div {
    height: 100%;
  }
}

#footer-wrapper {
  height: 10%;
  div {
    height: 100%;
  }
}
