<div class="contact-selected-wrapper">
  <div class="block">
    <div class="block-title">
      <h3>Contact Detail</h3>
    </div>
    <div class="form block-content">
      <div class="horizontal">
        <form [formGroup]="formViewContact" (ngSubmit)="onSubmit($event)">
          <!-- ROW -->
          <div class="form-field row">
            <div class="col-4">
              <label for="contactName">{{ fullName }}</label>
            </div>
            <div class="col-8 parent-input">
              <input
                type="text"
                id="contactName"
                formControlName="contactName"
                [attr.disabled]="!isEditing ? '' : null"
                [class.invalid]="
                  formViewContact.hasError('required', 'contactName') &&
                  formViewContact.get('contactName')?.touched
                "
              />
              <small
                [class.show]="
                  formViewContact.hasError('required', 'contactName') &&
                  formViewContact.get('contactName')?.touched
                "
                >Contact name is required</small
              >
            </div>
          </div>
          <!-- ROW -->
          <div class="form-field row">
            <div class="col-4">
              <label for="phoneNumber">{{ phoneNumber }}</label>
            </div>
            <div class="col-8 parent-input">
              <input
                type="number"
                id="phoneNumber"
                formControlName="phoneNumber"
                [attr.disabled]="!isEditing ? '' : null"
                [class.invalid]="
                  formViewContact.hasError(
                    'validatePhoneNumber',
                    'phoneNumber'
                  ) && formViewContact.get('phoneNumber')?.touched
                "
              />
              <small
                [class.show]="
                  formViewContact.hasError(
                    'validatePhoneNumber',
                    'phoneNumber'
                  ) && formViewContact.get('phoneNumber')?.touched
                "
                >Phone number not true format!</small
              >
            </div>
          </div>
          <!-- ROW -->
          <div class="form-field row">
            <div class="col-4">
              <label for="address">{{ address }}</label>
            </div>
            <div class="col-8 parent-input">
              <input
                type="text"
                id="address"
                [attr.disabled]="!isEditing ? '' : null"
                formControlName="address"
                [class.invalid]="
                  formViewContact.hasError('required', 'address') &&
                  formViewContact.get('address')?.touched
                "
              />
              <small
                [class.show]="
                  formViewContact.hasError('required', 'address') &&
                  formViewContact.get('address')?.touched
                "
                >Address is required</small
              >
            </div>
          </div>
          <!-- ROW -->
          <div class="form-field row">
            <div class="col-4">
              <label for="contactName">{{ title }}</label>
            </div>
            <div class="col-8 parent-input">
              <input
                [attr.disabled]="!isEditing ? '' : null"
                type="text"
                id="title"
                formControlName="title"
              />
            </div>
          </div>
          <div formGroupName="coordinate" class="col-12">
            <!-- ROW -->
            <div class="form-field row">
              <div class="col-4">
                <label for="latitude">{{ latitude }}</label>
              </div>
              <div class="col-8 parent-input">
                <input
                  [attr.disabled]="!isEditing ? '' : null"
                  type="text"
                  id="latitude"
                  formControlName="lat"
                />
              </div>
            </div>
            <!-- ROW -->
            <div class="form-field row">
              <div class="col-4">
                <label for="Longitude">{{ longtitude }}</label>
              </div>
              <div class="col-8 parent-input">
                <input
                  [attr.disabled]="!isEditing ? '' : null"
                  type="text"
                  id="Longitude"
                  formControlName="lng"
                />
              </div>
            </div>
          </div>
          <div
            style="margin-top: 24px"
            class="group-btn"
            *ngIf="isEditing === false"
          >
            <button
              class="btn btn-warning"
              type="button"
              (click)="handleClickEdit()"
            >
              Edit
            </button>
            <button
              class="btn btn-danger"
              type="button"
              (click)="handleClickDelete()"
            >
              Delete
            </button>
            <button
              class="btn btn-primary"
              type="button"
              (click)="handleClickClose()"
            >
              Close
            </button>
          </div>
          <div
            class="group-btn"
            style="margin-top: 24px"
            *ngIf="isEditing === true"
          >
            <button
              class="btn btn-success"
              [disabled]="formViewContact.invalid"
              type="submit"
            >
              Submit
            </button>
            <button class="btn btn-secondary" (click)="backToView()">
              Back
            </button>
            <button
              type="button"
              class="btn"
              (click)="openGoogleMap()"
              [disabled]="apiLoaded"
              style="background-color: bisque"
            >
              <fa-icon [icon]="icon"></fa-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
