<div class="tab__wrapper">
  <div class="tab-block">
    <div class="tab-title">
      <h3>
        {{ tabActiveName | translate }}
      </h3>
    </div>
    <div class="tab-content">
      <div class="block-search">
        <div class="row">
          <div class="col-3" style="text-align: center">
            <label class="w-100" for="search-contact">Search:</label>
          </div>
          <div class="col-6">
            <input class="w-100" type="text" [formControl]="searchContact" />
          </div>
        </div>
      </div>
      <div class="table-data block mb-4">
        <div class="result-table">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center sticky-column">STT</th>
                <th class="text-center">Họ và tên</th>
                <th class="text-center">Số điện thoại</th>
                <th class="text-center">Chức danh</th>
                <th class="text-center">Toạ độ</th>
                <th class="text-center">Địa chỉ</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let item of contactList; index as y"
                [ngTemplateOutlet]="dataSearchContact"
                [ngTemplateOutletContext]="{ item: item, index: y }"
              ></ng-container>
            </tbody>
          </table>
          <ng-container *ngIf="contactList && contactList.length === 0">
            <p style="text-align: center">Chưa có dữ liệu</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template let-item="item" let-index="index" #dataSearchContact>
  <tr (click)="handleSelectContact(item, index)" style="cursor: pointer">
    <td class="text-center sticky-column">{{ index + 1 }}</td>
    <td class="text-center">{{ item?.contactName }}</td>
    <td class="text-center">{{ item?.phoneNumber }}</td>
    <td class="text-center">{{ item?.title }}</td>
    <td class="text-center">
      {{ item?.coordinate?.lat }}/{{ item?.coordinate?.lng }}
    </td>
    <td class="text-center">{{ item?.address }}</td>
  </tr>
</ng-template>
