.dots {
  width: 3.5em;
  height: 3.5em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #dddddd, $alpha: 0.5);
}
.dots > div {
  width: 0.8em;
  height: 0.8em;
  background-color: #001d90;
  border-radius: 50%;
  animation: fade 1s alternate ease-in-out infinite;
}

.dots > div:nth-of-type(2),
.dots > div:nth-of-type(4) {
  animation-delay: 0.2s;
}

.dots > div:nth-of-type(3),
.dots > div:nth-of-type(5),
.dots > div:nth-of-type(7) {
  animation-delay: 0.4s;
}

.dots > div:nth-of-type(6),
.dots > div:nth-of-type(8) {
  animation-delay: 0.6s;
}

.dots > div:nth-of-type(9) {
  animation-delay: 0.8s;
}

@keyframes fade {
  to {
    opacity: 0.2;
  }
}
