.form {
  height: 100%;
  padding: 20px;
}

.horizontal {
  height: 100%;

  .form-field {
    & div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      & label {
        text-align: center;
      }

      & input {
        width: 100%;
        padding-left: 12px !important;
        padding: 4px;
        border-radius: 4px;
        font-size: 300;
        &.invalid {
          border-radius: 4px;
          border: 2px solid red;
        }
      }
    }

    .parent-input {
      position: relative;

      & small {
        display: none;
        position: absolute;
        bottom: -20px;
        left: 12px;
        color: red;
        &.show {
          display: block;
        }
      }
    }
  }

  .form-field:not(:last-child) {
    margin-bottom: 32px;
  }

  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;

    & input {
      padding: 8px;
    }
  }
}
