.form.horizontal {
  height: 100%;

  .form-field {
    & div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      & label {
        text-align: center;
      }

      & input {
        width: 100%;
        padding-left: 12px !important;
        padding: 4px;
      }
    }
  }

  .form-field:not(:last-child) {
    margin-bottom: 24px;
  }

  .btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;

    & input {
      padding: 8px;
    }
  }
}
