.result-table {
  overflow-x: auto;
}
.sticky-column {
  position: sticky;
  left: 0;
  top: 0;
  background-color: white !important;
}

.table {
  th:not(:first-child) {
    white-space: nowrap;
    min-width: 140px;
  }
}
